.about-us {
  padding: 30px 30px 60px 30px;
}

.about-us__materials {
  @include font(bold, 25px, 30px);
}

.about-us__heading {
  margin: 0;
}

.about-us__advantages {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: $tablet-width) {
  .about-us {
    padding: 50px 50px 75px 50px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    padding: 50px 270px 75px 225px;
  }
}
