.catalog-main__caption {
  @include font(bold, 27px, 30px);

  display: block;
  width: 240px;
  margin: 0;
  margin-bottom: 30px;
  padding: 75px 40px 75px 40px;
  background-color: #f1f1f1;
}

.rabbit-toy__caption,
.basket-toy__caption,
.big-basket-toy__caption {
  @include font(bold, 17px, 24px);
}

.rabbit-toy__characteristics,
.basket-toy__characteristics,
.big-basket-toy__characteristics {
  @include font(normal, 13px, 30px);

  color: #444444;
}

.rabbit-toy__price,
.basket-toy__price,
.big-basket-toy__price {
  @include font(bold, 15px, 24px);
}

.making__order {
  @include font(bold, 17px, 16px);

  color: #444444;
}

@media (min-width: $tablet-width) {
  .catalog-main__caption {
    @include font(bold, 43px, 50px);

    width: 376px;
    margin-bottom: 80px;
    padding: 100px 196px 80px 200px;

    position: relative;
  }

  .catalog-main__caption::after {
    @include pseudo(772px, 24px);

    background-image: url("../img/bg-zigzag-fill.svg");
    bottom: -5px;
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog-main__caption {
    @include font(bold, 53px, 57px);
    width: 465px;

    margin-bottom: 130px;
    padding: 105px 335px 100px 350px;
  }

  .catalog-main__caption::after {
    @include pseudo(1150px, 34px);

    background-image: url("../img/bg-zigzag-fill.svg");
    bottom: -10px;
    left: 0;
  }
}
