.contacts {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;

  margin-bottom: 40px;
}

.contacts__heading {
  @include font(bold, 18px, 30px);

  margin: 0;
  margin-bottom: 20px;
}

.contacts__e-mail,
.contacts__e-mail-name,
.contacts__adress,
.contacts__adress-text {
  @include font(normal, 15px, 30px);
  color: #444444;

  margin: 0;
}

.contacts__e-mail {
  padding-right: 30px;
}

.contacts__adress {
  padding-right: 33px;
}

.contacts__adress-text {
  display: inline-block;
  width: 150px;
}

.contacts__map-image {
  position: relative;
  left: -30px;
}

.contacts__write-us {
  @include font(bold, 18px, 20px);
  color: #444444;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-left: 50px;
    padding-right: 50px;
  }

  .contacts__heading {
    @include font(bold, 43px, 50px);
  }

  .contacts__e-mail,
  .contacts__e-mail-name,
  .contacts__adress,
  .contacts__adress-text {
    font-size: 17px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__heading {
    @include font(bold, 53px, 57px);
  }
}
