.feedback {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 90px;
}

.feedback__heading {
  @include font(bold, 25px, 30px);

  margin: 0;
  margin-bottom: 30px;
}

.feedback__description {
  @include font(normal, 15px, 30px);
  color: #444444;

  margin: 0;
  margin-bottom: 30px;
}

.feedback__name-link {
  font-weight: 400;
  color: #444444;

  display: block;
}

.feedback__comment-item {
  width: 260px;
}

.feedback__write {
  @include font(bold, 18px, 20px);
  color: #444444;
}

.feedback__background {
  display: none;
}

@media (min-width: $tablet-width) {
  .feedback {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 200px;
  }

  .feedback__heading {
    @include font(bold, 43px, 50px);
  }

  .feedback__description {
    @include font(normal, 17px, 30px);
  }

  .feedback__background {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 230px;
  }

  .feedback__heading {
    @include font(bold, 53px, 57px);
  }

  .feedback__background {
    display: inline;
  }
}
