.feedback__heading {
  @include font(bold,25px,30px);
}

.feedback__description {
  @include font(normal, 15px, 30px);
  color: #444444;
}

.feedback__name-link {
  font-weight: 400;
  color: #444444;
}

.feedback__write {
  @include font(bold,18px,20px);
  color: #444444;
}
