.goods-toys {
  display: flex;
  flex-direction: column;

  width: 320px;
  height: 103px;

  margin-bottom: 34px;
}

.goods-toys__link {
  @include font(bold, 19px, 24px);

  display: block;
}

.goods-toys__link {
  color: #ffffff;
  background-color: #56c3b2;

  padding: 30px 202px 30px 29px;

  position: relative;
}

.goods-toys__link::after {
  @include pseudo(60px, 60px);

  right: 27px;
  top: 21px;

  background-image: url("../img/icon-toy.svg");
}

@media (min-width: $tablet-width) {
  .goods-toys {

    width: 334px;
    height: 119px;
  }

  .goods-toys__link {
    @include font(bold, 20px, 30px);

    padding: 30px 187px 30px 37px;

    display: block;

    width: 111px;
  }

  .goods-toys__link::after  {
    right: 35px;
    top: 30px;
  }
}

@media (min-width:$desktop-width) {


  .goods-toys {
    width: 525px;
    height: 119px;
  }

  .goods-toys__link {
    display: block;

    padding: 0;
    padding: 30px 377px 30px 37px;
  }
}
