@media (min-width: $tablet-width) {
  .goods {
    position: absolute;
    bottom: -34px;
    left: 50px;

    display: flex;
  }

  .goods::after {
    @include pseudo(772px, 24px);

    left: -50px;
    bottom: 30px;

    background-image: url("../img/bg-zigzag-fill.svg");
  }
}

@media (min-width: $desktop-width) {
  .goods::after {
    @include pseudo(1150px, 34px);

    left: -50px;
    bottom: 30px;

    background-image: url("../img/bg-zigzag-fill.svg");
  }
}
