.page-header {
  display: flex;
  position: relative;
}

.page-header__logo {
  position: absolute;
  top: 22px;
  left: 116px;
  width: 86px;
  height: 35px;
  margin-right: 67px;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: $tablet-width;
    padding: 0;
  }

  .page-header__logo {
    position: static;

    padding: 22px 210px 20px 50px;
    margin: 0;

    width: 113px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    display: static;
    padding: 0;
  }

  .page-header__logo {
    position: absolute;

    padding: 0;

    top: 10px;
    left: 500px;

    width: 149px;
    height: 72px;
  }
}
