.page-header {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 116px;
  padding-right: 32px;
}

.page-header__logo {
  display: block;
  width: 86px;
  height: 35px;
  margin-right: 67px;
}
