.page-header {
  display: flex;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 116px;
  padding-right: 32px;
}

.page-header__logo {
  display: block;
  width: 86px;
  height: 35px;
  margin-right: 67px;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding: 0;
  }

  .page-header__logo {
    width: 113px;
    height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding: 0;
  }

  .page-header__logo {
    width: 149px;
    height: 72px;
  }
}
