.site-list {
  font-weight: bold;
}

.site-list a {
  display: block;
  width: auto;
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 76px;

  line-height: 24px;

  background-color: #ffffff;
  color: #000000;
}

.site-list a[href] {
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3)
  }
}

.site-list__link {
  border-top: 1px solid #ececec;
}

.site-list__link:last-child {
  border-bottom: 1px solid #ececec;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
  }

  .site-list__link {
    border: none;
  }

  .site-list__link:last-child {
    border: none;
  }

  .site-list__item--search {
    position: relative;

    width: 80px;
    height: 88px;
    font-size: 0;

    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;

    order: -1;
  }

  .site-list__item--search a {
    width: inherit;
    height: inherit;
  }

  .site-list__icon-search {
    @include posabs(36px, 33px);
  }

  .site-list__item--katalog {
    order: 1;
  }

  .site-list__item--for-order {
    order: 2;
  }

  .site-list__item--basket {
    position: relative;
  }

  .site-list__icon-basket {
    @include posabs(38px, 30px);

    display: inline-block;
    height: 18px;
  }

  .site-list__item--basket .site-list__link {
    padding: 32px 50px 32px 80px;
  }


  .delivery .sale-list__link {
    @include font(normal, 15px, 24px);

    display: block;

    width: inherit;
    height: inherit;
  }

  .main-nav__list li:nth-child(1) {
    @include posabs(110px, -297px);

    background-color: transparent;

    z-index: 10;
  }

  .main-nav__list li:nth-child(2) {
    @include posabs(110px, -120px);

    z-index: 10;
  }

  .delivery {
    @include posabs(110px, 118px);

    z-index: 10;
  }

  .site-list a {
    padding: 0;

    background-color: transparent;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__sale-list li:nth-child(1) {
    display: block;
    position: absolute;

    z-index: 10;
  }

  .main-nav__sale-list li:nth-child(3) {

    top: 115px;
    left: 850px;
  }

  .main-nav__list li:nth-child(1) {
    position: static;

    padding: 32px 35px 32px 50px;

    background-color: inherit;

    border-right: 1px solid #ececec;

    order: -1;
  }

  .main-nav__list li:nth-child(2) {
    position: static;

    padding: 32px 325px 32px 35px;

    background-color: inherit;

    order: 0;
  }

  .main-nav__list li:nth-child(3) {
    order: 1;

    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
  }

  .site-list__item--basket .site-list__link {
    padding: 0;
  }

  .main-nav__list li:nth-child(4) {
    order: 2;

    padding: 32px 50px 32px 83px;
  }
}
