.sweet-stuff__description {
  position: absolute;

  margin: 0;

  padding: 76px 44px 120px 44px;

  text-align: center;


  @include font(bold, 27px, 30px);
}

.sweet-stuff {
  display: flex;
  flex-direction: column;

  width: 320px;
}

@media (min-width: $tablet-width) {
  br {
    display: none;
  }

  .sweet-stuff__description {
    @include font(bold, 43px, 50px);

    padding: 160px 140px 488px 140px;

    display: inline-block;
    width: 492px;

  }

  .sweet-stuff {
    position: relative;

    width: $tablet-width;
  }

  .sweet-stuff__mishka-background {
    width: $tablet-width;

    height: 746px;
  }
}

@media (min-width: $desktop-width) {
  .sweet-stuff {
    width: $desktop-width;
  }

  .sweet-stuff__description {
    @include font(bold, 53px, 57px);

    padding: 160px 273px 488px 273px;

    display: inline-block;

    width: 605px;
  }

  .sweet-stuff__mishka-background {
    width: $desktop-width;
    height: 746px;
  }

}
