.sweet-stuff__description {
  position: absolute;


  margin: 0;
  padding: 76px 38px 120px 38px;

  text-align: center;


  @include font(bold, 27px, 30px);
}

.sweet-stuff {
  display: flex;
  flex-direction: column;

  width: 320px;
}

.sweet-stuff__mishka-background {
  object-fit: cover;
  object-position: -125px;
}

@media (min-width: $tablet-width) {
  br {
    display: none;
  }

  .sweet-stuff__description {
    @include font(bold, 43px, 50px);

    padding: 160px 135px 488px 135px;

    display: inline-block;
    width: 500px;
  }

  .sweet-stuff {
    position: relative;
    width: $tablet-width;
  }

  .sweet-stuff__mishka-background {
    object-fit: cover;
    object-position: -200px;
  }
}

@media (min-width: $desktop-width) {
  .sweet-stuff {
    width: $desktop-width;
  }

  .sweet-stuff__description {
    @include font(bold, 53px, 57px);

    padding: 160px 260px 488px 260px;

    display: inline-block;

    width: 630px;
  }

  .sweet-stuff__mishka-background {
    object-fit: cover;
    object-position: 0;
  }
}
