.user-form__wrapper-contacts {

  display: flex;
  flex-direction: column;

  width: 260px;
}

@media (min-width: $tablet-width) {
  .user-form__wrapper-contacts {
    width: 668px;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .user-form__wrapper-contacts {
    width: 815px;
    padding: 50px 225px 50px 110px;
  }
}
