.week-item {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 36px;

  width: 260px;

  display: flex;
  flex-direction: column;
}

.week-item__description-column {
  display: flex;
  flex-direction: column;
}

.week-item__name {
  @include font(bold, 25px, 30px);

  margin: 0;
  margin-bottom: 5px;
}

.week-item__characteristics {
  margin-bottom: 25px;
}

.week-item__importance {
  color: #63d1bb;

  margin: 0;
  margin-bottom: 25px;
}

.week-item__description {
  @include font(normal, 15px, 24px);

  margin: 0;
  margin-bottom: 25px;

  color: #444444;
}

.week-item__price {
  @include font(bold, 17px, 24px);

  color: #444444;

  margin: 0 auto;
  margin-bottom: 25px;

  order: 4;
}

.week-item__buy {
  @include font(bold, 17px, 20px)

  display: block;
  width: 260px;
  height: 50px;

  padding: 0;

  color: #444444;

  margin: 0;

  order: 5;

  text-transform: uppercase;
  border: none;
  background-color: transparent;

  border: 2px solid #444444;
}

.week-item__item-picture {
  margin-bottom: 25px;

  order: 3;
}

@media (min-width: $tablet-width) {

  .week-item {
    width: $tablet-width;

    padding: 0;

    display: flex;
    flex-direction: row;
  }

  .week-item__name {
    @include font(bold, 43px, 50px);

    padding-left: 50px;
    padding-top: 40px;
    margin-bottom: 55px;
  }

  .week-item__item-picture {
    position: absolute;
    top: 173px;
    right: 50px;

    margin: 0;
  }

  .week-item__price {
    @include font(bold, 20px, 24px);

    padding-left: 120px;

    margin: 0;
    margin-bottom: 25px;
  }


  .week-item__description-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    position: relative;

    width: inherit;
  }

  .week-item__characteristics {
    width: 245px;

    padding-left: 50px;
    margin-bottom: 30px;
  }

  .week-item__description {
    width: 240px;

    padding-left: 50px;
    margin-bottom: 30px;
  }

  .week-item__importance {
    line-height: 17px;
    text-align: center;

    display: block;
    width: 60px;

    position: absolute;
    top: 50px;
    right: 80px;

    margin: 0;
  }

  .week-item__buy {
    margin-left: 50px;
    margin-bottom: 50px;

    width: 290px;
  }
}

@media (min-width: $desktop-width) {

  .week-item {
    width: $desktop-width;

    padding: 0;

    display: flex;
    flex-direction: row;
  }

  .week-item__name {
    @include font(bold, 53px, 57px);

    padding-left: 225px;
    padding-top: 117px;
    margin-bottom: 50px;

    z-index: 1;
  }

  .week-item__item-picture {
    top: 55px;
    right: 50px;

    width: 525px;
    height: 636px;

    margin: 0;

    z-index: 0;

  }

  .week-item__price {

    padding-left: 300px;
    margin-bottom: 30px;
  }

  .week-item__characteristics {

    padding-left: 225px;
    margin-bottom: 100px;
  }

  .week-item__description {

    padding-left: 225px;
    margin-bottom: 60px;
  }

  .week-item__importance {

    top: 125px;
    left: 97px;
  }

  .week-item__buy {
    margin-left: 225px;

  }
}
