.week-item {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 36px;
  width: 320px;
  display: flex;
  flex-direction: column;
}

.week-item__description-column {
  display: flex;
  flex-direction: column;
}

.week-item__name {
  @include font(bold, 25px, 30px);
  margin: 0;
  margin-bottom: 5px;
}

.week-item__importance {
  color: #63d1bb;
  margin: 0;
  margin-bottom: 25px;
}

.week-item__description {
  @include font(normal, 15px, 24px);

  margin: 0;
  margin-bottom: 25px;
  color: #444444;
}

.week-item__price {
  @include font(bold, 17px, 24px);
  color: #444444;
  margin: 0;
}


.week-item__buy {
  color: #444444;
}

@media (min-width: $tablet-width) {
  .week-item {
    width: $tablet-width;
    padding: 0;
    display: flex;
    flex-direction: row;
  }


  .week-item__description-column {
    margin-right: 40px;
  }
}

@media (min-width: $desktop-width) {
  .week-item {
    width: $desktop-width;
    padding: 0;
    display: flex;
    flex-direction: row;
  }


  .week-item__description-column {
    margin-right: 58px;
    width: 700px;
  }
}
